@import '@scss/utils/_fonts';

*,
*:after,
*:before {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

.sound-button {
	z-index: 10000000;
	position: absolute;
	top: 0%;
	left: 50%;
	border: none;
	background-color: transparent;
	padding: 2vw 1vw;
	cursor: pointer;
	transition: opacity 0.5s ease-out;

	span {
		animation: svelte-1rw298u-scaleSound 1s ease infinite alternate;
		animation-delay: calc(var(--i) * 75ms);
		height: 1px;
		width: 1px;
		margin-right: 3px;
		background-color: #fff;
		transform: scaleY(2);
	}
}

.loading-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	opacity: 0;
	transition: all 0.3s;
}

.loading-wrapper {
	width: 500px;
	height: 5px;
	background: rgb(192, 192, 192);
	border-radius: 30px;
	margin: 20px 0;
}

.loading-bar {
	width: 0%;
	height: 100%;
	background: #1d1d1d;
	transition: all 0.3s;
	border-radius: 30px;
}

.button-hold {
	--color: #f6f8ff;
	--background: #2b3044;
	--icon: var(--color);
	--progress-border: #646b8c;
	--progress-active: #fff;
	--progress-success: #5c86ff;
	--tick-stroke: var(--progress-active);
	--shadow: #{rgba(#00093d, 0.2)};
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	min-width: 112px;
	padding: 12px 20px 12px 12px;
	border: 0;
	border-radius: 24px;
	outline: none;
	user-select: none;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	-webkit-appearance: none;
	transition: transform 0.3s, box-shadow 0.3s;
	box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 12px) var(--shadow);
	transform: scale(var(--scale, 1)) translateZ(0);
	color: var(--color);
	background: var(--background);
	& > div {
		margin-right: 4px;
		border-radius: 50%;
		display: inline-block;
		vertical-align: top;
		position: relative;
		background: var(--progress-border);
		&:before {
			content: '';
			width: 16px;
			height: 16px;
			left: 2px;
			top: 2px;
			z-index: 1;
			position: absolute;
			background: var(--background);
			border-radius: inherit;
			transform: scale(var(--background-scale, 1));
			transition: transform 0.32s ease;
		}
		svg {
			display: block;
			&.icon,
			&.tick {
				position: absolute;
			}
			&.icon {
				width: 8px;
				height: 8px;
				left: 6px;
				top: 6px;
				fill: var(--icon);
				z-index: 1;
				transition: opacity 0.2s, transform 0.2s;
				opacity: var(--icon-opacity, 1);
				transform: translateY(var(--icon-y, 0))
					scale(var(--icon-scale, 1));
			}
			&.progress,
			&.tick {
				fill: none;
			}
			&.progress {
				width: 20px;
				height: 20px;
				transform: rotate(-90deg) scale(var(--progress-scale, 1));
				transition: transform 0.5s ease;
				circle {
					stroke-dashoffset: 1;
					stroke-dasharray: var(--progress-array, 0) 52;
					stroke-width: 16;
					stroke: var(--progress-active);
					transition: stroke-dasharray var(--duration) linear;
				}
			}
			&.tick {
				width: 20px;
				height: 20px;
				left: 0;
				top: 0;
				stroke-width: 3;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke: var(--tick-stroke);
				transition: stroke 0.3s ease 0.7s;
				polyline {
					stroke-dasharray: 18 18 18;
					stroke-dashoffset: var(--tick-offset, 18);
					transition: stroke-dashoffset 0.4s ease 0.7s;
				}
			}
		}
	}
	&:focus,
	&:hover {
		&:not(.process) {
			--shadow-y: 8px;
			--shadow-blur: 16px;
		}
	}
	&:active {
		&:not(.success) {
			--scale: 0.96;
			--shadow-y: 4px;
			--shadow-blur: 8px;
		}
	}
	&.process,
	&.success {
		--progress-array: 52;
		--icon-y: -4px;
		--icon-scale: 0.6;
		--icon-opacity: 0;
	}
	&.success {
		--progress-border: none;
		--progress-scale: 0.11;
		--tick-stroke: var(--progress-success);
		--background-scale: 0;
		--tick-offset: 36;
		& > div {
			svg {
				&.progress {
					animation: tick 0.3s linear forwards 0.4s;
				}
			}
		}
	}
}

@keyframes tick {
	100% {
		transform: rotate(-90deg) translate(0, -5px)
			scale(var(--progress-scale));
	}
}

.helper__scroll {
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 99;
	color: white;
	text-transform: uppercase;
	transform: translateX(-50%);
	font-family: 'Brilliant Cut Pro';

	&__line {
		position: relative;
		display: block;
		margin: auto;
		width: 1px;
		height: 4.791666666666667vmax;
		max-height: 40px;
		background-color: white;
		opacity: 1;
	}
}
